<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="src/css/menu.css">
</head>

<body>
    <div id="sidebar-ribbon" onmouseleave="Navigator.toggleMenu(false);">
        <div class="menu" id="sectionname-menu-wrapper">
            <span>Section - </span>
            <span class="sectionname"></span>
        </div>

        <div class="menu" id="navbar-menu">
            <a onclick="Navigator.goToSection('main');">Main</a>

            <span>Documentation</span>
            <div class="sublist" id="docs-sublist">
                <a onclick="Navigator.goToSection('docs-structure');">Structure</a>
                <a onclick="Navigator.goToSection('docs-features');">Features</a>
                <a onclick="Navigator.goToSection('docs-development');">Development</a>
            </div>

            <a onclick="Navigator.goToSection('links');">Links</a>
        </div>
    </div>
    <div id="decolourbox" onclick="Navigator.toggleMenu(false);" onmouseenter="Navigator.toggleMenu(false);"></div>

</body>