<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="src/css/ribbon.css">
</head>

<body>
  <a onclick="Navigator.toggleMenu(true);" class="ribbon ribbon-crunch icon-button">
    <img src="src/img/icons/menu.png">
  </a>

  <div class="ribbon ribbon-main ribbon-crunch" id="name">OHRW's Template Website</div>

  <div class="ribbon ribbon-main" id="navbar">
    <a onclick="Navigator.goToSection('main');">Main</a>

    <a onclick="Navigator.goToSection('guide');">Guide</a>

    <div hidden class="dropdown" id="drop-wrapper-docs">
      <div hidden class="dropdown-content" id="drop-docs">
        <a onclick="Navigator.goToSection('docs-structure');">Structure</a>
        <a onclick="Navigator.goToSection('docs-features');">Features</a>
        <a onclick="Navigator.goToSection('docs-development');">Development</a>
      </div>
    </div>

    <a class="dropbtn" onclick="Navigator.showSubList('docs');"
      onmouseleave="Navigator.hideSubList('docs');">Documentation</a>
  </div>

  <div class="ribbon ribbon-main sectionname">Home</div>

</body>