<div class="news-item" data-dismissed="false" data-read="false">
    <div class="item-link item-inline">
        <img class="item-image item-cell" src="src/img/favicons/SN_1006.jpg">
        <button class="item-button item-cell" onclick="" target="_blank" href="">Read More ...</button>
        <button class="item-button item-read item-cell" onclick="">Dismiss Story</button>
    </div>
    <div class="item-content item-inline">
        <h4>
            <span class="item-title">New RSS Site Seeks to Give Online News Media the Finger</span>
        </h4>
        <small>
            <span class="item-channel">Test News Network (TNN)</span>
        </small>
        <p>
            <span class="item-desc">
                <!-- LTeX: enabled=false -->
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut dolor turpis.
                Vivamus ullamcorper non nibh nec feugiat. Sed suscipit magna velit. Aliquam sit amet fermentum tortor.
                Nullam accumsan libero non consectetur suscipit. Maecenas sit amet leo leo. Vivamus neque ante, pharetra
                sed
                suscipit eget, vulputate ac enim.
                <!-- LTeX: enabled=true -->
            </span>
        </p>
        <button class="item-crunch item-button" hidden onclick="" target="_blank" href="">Read More ...</button>
        <button class="item-crunch item-button item-read" hidden onclick="">Dismiss Story</button>
    </div>
</div>